[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,image/*
Actions=uploadBackground;upload;
MimeType=image/*;

[Desktop Action uploadBackground]
Name=upload in background
Icon=abloadtool
Exec=abloadtool --background --files %u

[Desktop Action upload]
Name=open in abload
Icon=abloadtool
Exec=abloadtool --files %u
